<div class="row">
    <div class="col-12">
        <!-- Page title -->
        <div class="my-5">
            <h3>Driver Delete</h3>
            <hr>
        </div>
        <form  (ngSubmit)="submit()">
            <div class="row mb-5 gx-5">
                <!-- Contact detail -->
                <div class="col-xxl-8 mb-5 mb-xxl-0">
                    <div class="bg-secondary-soft px-4 py-5 rounded">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label class="form-label">First Name *</label>
                                <input  id="firstName" type="text"
                                    [value]="getDriver.firstName" class="form-control" [disabled]="true">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Last Name </label>
                                <input  id="lastName" type="text"
                                    [value]="getDriver.lastName" class="form-control" [disabled]="true">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Email</label>
                                <input id="email" type="text" [value]="getDriver.email"
                                    class="form-control" [disabled]="true">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Phone number</label>
                                <input  id="phoneNumber" type="text"
                                    [value]="getDriver.phoneNumber" class="form-control" [disabled]="true">
                            </div>
                            <div class="col-md-6 " style="text-align: center;">
                                <button class="btn btn-danger" type="submit" style="margin-right: 20px;">Delete</button>
                                <a class="btn btn-dark" type="submit" routerLink="/driver/index" >back</a>
                            </div>
                           
                            
                        </div> <!-- Row END -->
                        

                    </div>
                </div>
            </div>
    </form>

    </div>
</div>